
<div class="box" id="about">
	<div class="miniBox"  id="tecc">

		<div id="title" >
			Mon domaine d'activité
		</div>

		<div style="text-align:center; font-weight: bold;">
			TECC
		</div>
		<br>
		<br>

		QU’EST CE QUE LES THÉRAPIES ÉMOTIONNELLES, COGNITIVES ET COMPORTEMENTALES (TECC /TCC) ? Les TCC/TECC se basent sur l’observation et la modification concrète de votre mode de fonctionnement. Elles impliquent également une relation d’écoute bienveillante, de soutien et de confiance, indispensable à toute thérapie.
		<br>
		<br>

		Vous entendrez certainement de plus en plus souvent parler des TECC plutôt que des TCC. Les TECC sont la version plus récente des TCC, c’est à dire que s’ajoutent aux techniques cognitives et comportementales classiques, la dimension émotionnelle, composante essentielle du fonctionnement de l’être humain. Cet ajout apporte un large éventail de nouvelles stratégies d’interventions très efficaces.
		<br>
		<br>
		
		<b>
		1) BASÉES SUR DES ÉTUDES SCIENTIFIQUES
		</b>
		<br>
		<br>

		Les thérapies émotionnelles, cognitives et comportementales (TECC ou TCC) sont l’application concrète de pratiques thérapeutiques issues de la recherche en psychologie scientifique. Il s’agit donc de méthodes fiables, élaborées à partir de connaissances sur le fonctionnement du psychisme humain et pour lesquelles on observe des résultats positifs assez rapidement. Il a été notamment démontré que ces techniques ont une efficacité au moins aussi importante que les traitements médicamenteux sur les troubles anxieux ainsi que la dépression.
		<br>
		<br>

		<b>
			2) UNE APPROCHE GLOBALE DU PROBLÈME
		</b>
		<br>
		<br>

		Dans ces thérapies, l’être humain est pris en compte dans sa globalité, c’est à dire ses émotions, ses pensées et ses comportements en interaction entre eux ainsi qu’avec l’environnement.
		<br>
		<br>

		Les thérapies interviennent donc à plusieurs niveaux:
		<br>
		<br>

		Les cognitions ou « les pensées » : Certaines personnes peuvent avoir tendance à aborder le monde avec un mode de pensées négatif ou plein d’appréhension. Ces modes de pensées sont souvent adoptés inconsciemment en fonction de notre tempérament ou notre vécu et peuvent biaiser le rapport à la réalité entrainant ainsi l’apparition de troubles psychologiques. Mais il est possible de repérer ces cognitions inadaptées et d’apprendre à penser autrement. En s’entrainant, on peut donc adopter de nouveaux modes de pensées plus rationnels, plus positifs et/ou plus appropriés.
		<br>
		<br>

		Les Comportements : De même que pour les pensées, nous pouvons avoir tendance à adopter des comportements inappropriés face aux situations problématiques parce que cela nous rassure, ou bien que cela nous évite de nous confronter à nos difficultés. Il s’agit donc d’apprendre à agir autrement face à ces situations.
		<br>
		<br>

		Les émotions : Lorsque nous sommes en situation de détresse psychologique, nous sommes souvent confrontés à un débordement émotionnel qui peut donner une impression de perte de contrôle. Il est donc important d’apprendre à reconnaître et gérer ses émotions afin de maintenir ses capacités de raisonnement en cas de situation difficile et d’adopter le comportement le plus approprié. L’apprentissage de la gestion émotionnelle peut se faire au travers de diverses techniques comme la relaxation, la Méditation de Pleine Conscience ou Mindfullness, l’acceptation… etc
		<br>
		<br>

		<b>
			3) DES STRATÉGIES CONCRÈTES POUR RÉSOUDRE LES PROBLÈMES
		</b>
		<br>
		<br>

		Il s’agit donc dans un premier temps, d’apprendre avec l’aide du thérapeute, à repérer et comprendre votre mode de fonctionnement face à une situation problématique puis le thérapeute vous proposera des stratégies et des exercices concrets afin de réadapter ce mode de fonctionnement pour faire face vos difficultés.
		<br>
		<br>

		<b>
			4) UNE RELATION DE COLLABORATION
		</b>
		<br>
		<br>

		Les TECC proposent une relation de collaboration avec le thérapeute et le travail s’effectue en face à face. L’analyse des problèmes, la définition des objectifs à atteindre, et le plan d’action sont tous élaborés ensemble, d’un commun accord avec le patient. Ce dernier est donc acteur de sa thérapie.

		<br id="emdr">
		<br>
		<div style="text-align:center; font-weight: bold;">

			EMDR
		</div>
		<br>
		<br>

		Ses initiales viennent de son appellation anglo-saxonne : Eye-Movement Desensitization and Reprocessing, ou Désensibilisation et Retraitement par les Mouvements Oculaires.
		<br>
		<br>

		La thérapie EMDR est une nouvelle approche de psychothérapie qui utilise la stimulation sensorielle des deux côtés du corps, soit par le mouvement des yeux soit par des stimuli auditifs ou cutanés, pour induire une résolution rapide des symptômes liés à des événements du passé.
		<br>
		<br>

		Cette thérapie poursuit le mouvement de recherche clinique et de soins inaugurés par la psychanalyse, la thérapie cognitive comportementale, les traitements par exposition, la médecine humaniste, les thérapies systémiques et les psychothérapies brèves centrées sur la personne.
		<br>
		<br>

		Découverte et développée la fin des années 80 dans la Baie de San Francisco par Francine Shapiro. En moins de 10 ans, elle est devenue un des modes de traitement psychothérapeutique du PTSD (ou ESPT : État de Stress Post-Traumatique) ayant donné lieu au plus grand nombre d’études cliniques.
		<br>
		<br>
		
		Plusieurs études contrôlées ont démontré la remarquable efficacité de la thérapie EMDR pour la résolution les états de stress post-traumatiques (ESPT en français, PTSD dans la littérature anglo-saxonne), autant chez les victimes de traumatismes civils (viols, accidents, deuils) que chez les vétérans de la guerre du Vietnam ou les victimes de conflits dans les pays en voie de développement. De fait, à ce jour, la thérapie EMDR est une des méthodes de traitement des états de stress post-traumatiques (ESPT ou « PTSD ») les mieux documentées par la littérature scientifique.
			
	</div>

	<%= render "pages/map" %>
</div>






	
