


<div id="commentchoisir" class="box">
<div class="miniBox">

	<div id="title">
		Comment choisir son psy ? 
	</div>
Pour choisir son psy, il est important de de s'intéresser à 2 champs:<br><br>
<b>
le premier; le type de professionnel<br></b>
va-t-on voir un psychologue, un psychothérapeute, un psychanalyste, un psychiatre exetera<br><b>
le deuxième est le type d'approche thérapeutique
<br></b>
Va-t-on voir voir quelqu'un qui s'est spécialisé dans la psychologie de l enfant, dans la psychologie du travail, dans la psychanalyse, dans les Tecc, l Emdr ou qui a plutôt une approche intégrative...
<br><br>
Au-delà des critères qui vous sont propres,<b> il convient de faire la différence entre les multiples appellations dans le métier de soins thérapeutiques </b> (psychologue, psychiatre, psychothérapeute, psychanalyste) afin de choisir le type de professionnel en connaissance de cause et ensuite de choisir celui dont la « technique » utilisée vous convainc le mieux.
<br>
<br><b>
Le psychologue</b> est un titre protégé et délivré par l’ARS (Agence Régionale de Santé) qui vous garantit que le soignant a suivi et validé une formation universitaire en psychologie d’au moins 5 ans. Ce praticien est donc réputé spécialiste du soutien psychologique, de la guidance, de la psychothérapie et dans la passation de tests. Lors de son cursus il a également été formé à la psychologie du développement de l’enfant, à la psychologie sociale et du travail pour appréhender l’humain à chaque stade de sa vie, dans sa singularité mais également dans ses groupes d’appartenance et sur son lieu de travail.
<br>
<br><b>
Le psychiatre</b> est un médecin spécialisé dans les troubles psychiatriques. Il a pour vocation la prise en charge médicale par la prescription, si nécessaire, d’un traitement médicamenteux et peut également proposer des psychothérapies. La consultation chez un psychiatre étant considéré comme un acte médical, il est remboursé par la S.S. et les mutuelles.
<br>
<br><b>
Le psychothérapeute</b>, comme son nom l’indique, propose des psychothérapies. Jusqu’à peu, le titre de psychothérapeute n’était pas protégé et quiconque pouvait s’installer en tant que tel sans avoir suivi d’études en psychologie ou psychiatrie. Depuis 2010, les nouveaux psychothérapeutes ont l’obligation d’avoir à minima une formation en psychopathologie pour pouvoir utiliser ce titre. Et pour ceux qui justifiaient déjà de 5 années de pratique, une dérogation leur ont permis de l’obtenir sans avoir à passer par les études.
<br>
<br><b>
Le psychanalyste</b> est un spécialiste de la thérapie analytique. Le titre n’étant pas protégé, il est possible de s’installer comme pratiquant et ce sans formation.
<br>
<br>
Un praticien peut utiliser plusieurs appellations en même temps ; cela vous renseignera donc sur son niveau d’enseignement et sa spécialisation.
<br>
<br><b>
Le deuxième; qui pourrait orienter votre choix est le type d’approche thérapeutique du praticien.</b>
<br>
<br>
Suivant les patients (enfant ou adulte), le type et la sévérité du trouble, ainsi que le contexte de l’intervention, il existe de nombreuses formes de psychothérapies reposant elles-mêmes sur des approches théoriques diverses. En voici les principales :<b> les approches d’inspiration psychanalytique, systémique ou cognitivo-comportementale.
</b><br>
<br>
Tous les psychologues ont eu un vernis analytique lors de leur cursus de formation. Depuis quelques années maintenant les psychologues sont aussi sensibilisés à la <b>thérapie cognitivo-comportementale</b> et parfois aux autres courants. Il peut lors de son cursus se spécialiser déjà dans l’une ou l’autre approche ou après sa formation universitaire en suivant une formation professionnelle post universitaire auprès des organismes agréés.<br>
<br>
<b>
La psychanalyse</b> est un procédé d’investigation des processus psychiques ainsi qu’une méthode de traitement de certains troubles psychopathologiques. Elle part du postulat que les actes et les pensées ne sont pas le fruit du hasard, ils ont un antécédent, un sens, une cause que l’exploration de l’inconscient permet de mettre au jour. La psychanalyse cherche à comprendre les logiques inconscientes et à aider le sujet qui en souffre à résoudre ses problèmes.
<br>
<br><b>
La thérapie systémique</b> s’intéresse à l’individu dans son contexte. Ce courant considère que le patient n’est pas un être psychique isolé mais qu’il faut pour bien le cerner l’analyser dans ses interactions et relations dans les groupes dans lequel il vit (ex : famille). Le postulat étant que les troubles psychologiques et comportementaux du membre d’un groupe est un symptôme du dysfonctionnement dudit groupe et non de l’individu seul. Les psychothérapies d’inspiration systémique peuvent être individuelles ou familiales.
<br>
<br>
<b>La thérapie cognitivo-comportementale (TCC) </b> est une démarche thérapeutique scientifique de résolution des dysfonctionnements de l’individu. Le praticien s’intéresse au présent tout en prenant en compte les causes historiques. Le style est direct et collaboratif. Le patient, avec le thérapeute, cherche d’abord à comprendre son fonctionnement pathologique pour ensuite définir ensemble les moyens psychothérapeutiques. Les TCC utilisent alors différents exercices en fonction du problème du patient :
<ul>
<li>- Des exercices comportementaux, pour apprendre de nouveaux comportements plus adaptés ;
</li><li>
- Des exercices cognitifs, pour modifier les pensées inadaptées et irréalistes et apprendre de nouvelles façons de penser plus adaptées ;
</li><li>
- Des exercices émotionnels, pour mieux reconnaître les émotions, les accepter et apprendre ainsi à mieux les réguler ;
</li><li>
- Des exercices corporels, pour l’apprentissage de la détente physique et psychologique.
</li></ul>
Tout au long de la thérapie les résultats et les progrès du patient sont évalués afin de décider de la suite ou de la fin de la psychothérapie.
<br>
<br>
Il y a nombre de différentes psychothérapies. Dans les émergentes, vous entendrez peut-être parler de l’EMDR, de la mindfullness, …

<br>
<br>
<b>
La thérapie EMDR</b>  est dite efficace dans les cas de stress post-traumatique. Cette technique utilise la stimulation sensorielle, soit par le mouvement des yeux soit par des stimuli auditifs ou cutanés (taping), pour induire une résolution rapide des symptômes liés à des événements du passé. Alors que le patient raconte l’évènement traumatique le thérapeute le stimule sensoriellement pour lui permettre de se détacher émotionnellement de ce qu’il raconte et ainsi lui apprendre à vivre avec.
<br>
<br>

<b>La Mindfullness</b> est une thérapie qui repose sur la méditation et la pleine conscience. Elle est dite efficace dans le traitement du stress et de la dépression chronique. La méthode est d’apprendre au patient à diriger son attention sur le moment présent pour examiner les sensations qui se présentent à lui afin de les appréhender, les maîtriser, les traiter et les résoudre.
<br>
<br>

Certains praticiens se diront dans une démarche intégrative (ce qui est mon cas) : cela signifie qu’ils puisent dans chacun des courants thérapeutiques pour utiliser ce qu’il y a de plus indiqué en fonction du patient et du moment. Ce choix permet d’avoir un champ d’intervention plus vaste et plusieurs outils pour accompagner au mieux le patient.
<br>
<br><b>
Plus que tout, il est primordial que la relation soit efficace dans une optique de résultat. Il est tout à fait possible de ne pas adhérer ou se sentir à l’aise avec un praticien. Pour autant, cela ne doit pas freiner votre démarche. Il convient juste de trouver le thérapeute qui vous conviendra.
</b>

</div>
<%= render "pages/map" %>

</div>	


