

<div id="mapresentation" class="box">
	<div class="miniBox">

	<div id="title">
		Mon parcours
	</div>
		 J'ai effectué des études de psychologie à l'université de Lille 3 où j'ai obtenu mon Master 2 professionnel en 2005. J'ai fait le choix de me spécialiser assez vite dans les TECC (voir domaines) afin d'apporter de l'aide aux patients orientée vers des solutions. Les TECC peuvent assez vite améliorer la qualité de vie.<br><br>
	Ma carrière professionnelle a commencé dans la recherche scientifique (Evaluation de la souffrance psychique liée à la détention) mais j'ai très vite voulu revenir à la clinique pour continuer à vivre ma passion ; le fonctionnement psychique humain et l'accompagnement thérapeutique.<br><br>

	Par curiosité de mieux comprendre la psychologie à tous les niveaux de la société, j'ai travaillé de nombreuses années en détention (au sein d'un service médical du chru de Lille); des missions passionnantes.<br><br>

	Face à ces trajectoires de vie cassées, blessées, je me suis tournée vers l'EMDR (formation à Paris en 2 ans), ce qui m'a permis de traiter les personnes souffrant de traumatismes souvent complexes ; un outil qui s'avère toujours indispensable dans ma pratique actuelle. Le travail en prison n'étant pas toujours des plus aisés, j'ai travaillé ensuite en CMP adultes (Centre Médico Psychologique qui offre des soins pour les personnes souffrant de troubles psychiques, établissement de soins public). J'ai alors élargi mon champ de compétences. Ces années de travail ont toujours été jalonnées par la nécéssité de toujours me former, voici un apercu des formations suivies ;<br>
	<ul>
    <li>- initiation à la pleine conscience</li>
    <li>- formation sur le jeu pathologique
    </li><li>- violence et agressivité en santé mentale
    </li><li>- initiation à l'ethnopsychiatrie
    </li><li>- l'entretien motivationnel
    </li><li>- les thérapies systémiques brèves, module 1
    </li><li>- formation à l'EMDR
	</li></ul>
<br>
Et c'est plus récemment, grâce à mes missions auprès des personnes souffrant de troubles du comportement alimentaire (TCA CHRU Lille, clinique d'addictologie, Fontan 2 jusque fin 2017) que j'ai découvert et que je me suis enthousiasmée pour les thérapies familiales, de couple avec comme idée " de pouvoir soigner la personne en prenant en considération son contexte, sa place dans le, les groupes aux quels elle appartient (couple, famille, amis, entreprise...) Je suis en deuxième année de formation à Psycom à Villeneuve d'ascq.
<br><br>
L'activité libérale est pour moi aujourd'hui une évidence pour mettre à profit mon expérience et mes formations, auprès des patients en demande de changement. J'ai pris soin de décorer le cabinet pour vous accueillir dans une ambiance calme et conviviale.
Notre collaboration pourra alors vous soulager et vous faire avancer dans votre trajectoire de vie. 
		
	</div>
	

	<%= render "pages/map" %>

</div>



