<div style="background: #f4f4f4; padding: 30px 10%;">

<div id="title">		
	Mentions Légales
</div>
	Hélène PICAVEZ
	<br>
	58 rue du générale de Gaulle 59133 Phalempin
	<br>
	téléphone: 07 64 13 72 58
	<br>
	Mail: helenepicavez@gmail.com
	<br>
	Siret: 82329893000012
	<br>
	Code adeli : 599309168
	<br>
	Code naf: Activités de santé humaine non 	<br>
classées ailleurs (8690F)
<div class="s_title">
	Hébergement du site
</div>
	Github
	<br>
	88 Colin P Kelly Jr St
	<br>
	San Francisco, CA 94107
	<br>
	United States
<div class="s_title">
	Traitement de données personnelles
</div>
	Les informations que Hélène PICAVEZ sera amenée à recueillir en proviennent de l’enregistrement volontaire d’une adresse courriel fournie par l’internaute, lui permettant de recevoir une documentation, de se renseigner sur un point quelconque. Ces informations ne sont jamais communiquées à des tiers.
<div class="s_title">
	Liens hypertextes
</div>
	Ce site peut proposer plusieurs liens vers d’autres sites et peut vous indiquer vers quel site nous vous suggérons d’aller. Hélène PICAVEZ, qui fournit des prestations de psychologie, ne peut cependant en aucun cas être tenu responsable du contenu des sites qui font l’objet d’un lien hypertexte à partir du présent site internet.
<div class="s_title">

	Propriétaire du site
</div>
	Hélène PICAVEZ 
	<br>
	58 rue du générale de Gaulle 59133 Phalempin 
	<br>
	téléphone: 07 64 13 72 58
	<br>
	Mail: helenepicavez@gmail.com

<div class="s_title">
	Droits d’auteurs
</div>
	Toute reproduction ou diffusion, intégrale ou partielle, est systématiquement soumise à l’autorisation des propriétaires. 
</div>