





<div id="parcours" class="box">
<div class="miniBox">

	<div id="title">
		POURQUOI CONSULTER
	</div>


 Le motif de consultation peut être :
<br><br>
<ul>
    <li>Des troubles du sommeil.
   </li><li>Une anxiété generalisée.</li>
<li>    Une dépression.
    </li><li>Des douleurs chroniques.
    </li><li>Un burn out (stress professionnel) ou harcèlement.
    </li><li>Un trouble psychosomatique.
    </li><li>Des difficultés à s'affirmer.
    </li><li>Des difficultés à communiquer.
</li><li>    Des difficultés à gérer ses émotions.
    </li><li>Un trouble de la personnalité.
    </li><li>Une phobie spécifique ou phobie sociale.
    </li><li>Des attaques de panique.
    </li><li>Une agoraphobie.
    </li><li>Un trouble du comportement alimentaire.
    </li><li>Une dépendance (alcool, médicaments, cannabis,...).
    </li><li>Un stress post traumatique.
    </li><li>Un trouble obsessionnel compulsif...
    </li>
</ul>
<br><br>

Il peut aussi s'agir d'une souffrance morale, un mal être, que vous ne pouvez pas clairement definir mais qui vous empêche de vous épanouir. Nous pouvons tous, au cours de notre vie, être confrontés à des difficultés personnelles, professionnelles ou scolaires qui viennent entraver notre bien être et face auxquelles nous nous sentons démunis. Stress, anxiété, humeur dépressive sont des états chez l’être humain, auxquels il est normal d’être confronté de temps à autre. Néanmoins, en fonction de notre vécu et de notre tempérament, ils peuvent parfois devenir envahissants, voire pathologiques. Qu’il s’agisse de difficultés à faire face à des évènements de vie négatifs ou qu’elles soient dues à un mode de fonctionnement personnel qui vous empêche d’avancer, il existe des moyens efficaces pour les surmonter et avoir une meilleure qualité de vie. Les thérapies émotionnelles, cognitives et comportementales (TECC ou TCC) que je pratique proposent de vous aider à repérer puis à modifier votre façon de fonctionner afin d’affronter votre quotidien de manière plus adaptée et de trouver, retrouver et maintenir un état de bien-être dans tous les domaines de votre vie. Ces thérapies, issues de la psychologie scientifique, prennent en compte l’individu dans son ensemble (émotions, pensées, comportement, vécu/environnement). Elles sont concrètes, pratiques et leur efficacité à été démontrée sur de nombreux troubles psychologiques, notamment l’anxiété et la dépression.
<br><br>
<b>
Je reçois en consultation individuelle les adultes, les adolescents, les enfants mais je propose également des séances en couple et familiales (formation thérapie familiale en cours)
</b>
</div>

<%= render "pages/map" %>

</div>	





