



<div id="tarif" class="box">
<div class="miniBox">
	<div id="title">
		INFORMATIONS TARIFAIRES
	</div>
<b>
 Séance en individuel (enfant, adolescent ou adulte) </b> : 50 euros (environ 45 min)
<br><br><br>

<b>Séance EMDR</b> : 80 euros (environ 1 h)
<br><br><br>

<b>
Séance en couple</b> : 70 euros (environ 1 h)
<br><br><br>


Réglement par chèque ou espèces.
<br><br><br>


Cabinet ouvert également le samedi matin
<br><br><br>


Les consultations de psychologie ne sont pas remboursées par la Sécurité Sociale mais n'hésitez pas à vous renseigner auprès de votre mutuelle. Elles sont de plus en plus à proposer une prise en charge.


</div>

<%= render "pages/map" %>

</div>	
