<div style="background: lightblue;"> 
 	<div style="font-size: 18px; font-weight: bold; padding-top:  75px;padding-bottom: 15px;  text-align: center; width: 80%; margin: auto;"> 
      <%= link_to "Hélène Actus", actus_path,class: 'dark'%>  <%= link_to new_actu_path do%>
        <span style="float: right;"> <i class="fas fa-plus"></i></span>
        <%end%>
      
    </div >
    <div class="box" id="new">
  		<div class="formBox">
				<div class="container" style="margin: 20px; color: black; text-decoration: none;">
   					<div class="row">
    					<div class="col-xs-12 col-sm-6 col-md-4">
        					<%= render 'form' %>
        				</div>
   					</div>  

   			</div>
   		</div>
   		<%= render "pages/map"%>
 	</div>
 </div>



