<div class="container">
   <div class="row">
     <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render 'form' %>

     </div>
   </div>
 </div>

 <div style="color: gray; font-style: italic; margin-top: 15px; padding: 10px 10px; border: 1px solid black; border-radius: 2px; display: inline-block;margin-left: 15px;">
	<%= link_to "Back home", actus_path%>
</div>