// Place all the styles related to the actus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.haut
{
  font-size: 22px;
  font-weight:bold;
  margin-bottom: 15px;
  margin-top: 7.5px;
  text-decoration: underline;
}

.way
{
font-style: italic;
display: flex;
flex-direction: row;
justify-content: space-around;
width: 100%;
margin-top: 3.5vh;
bottom: 0;
}


#expo{
  width: 100%; height: 40vh; overflow-wrap: break-word; word-wrap: break-word; hyphens: auto;display: flex; flex-direction: column;justify-content: space-around; margin: 1.5vh 0px; background-color: white; opacity: 0.9;border-radius: 5px; padding: 1vh 1vw;
}

#edit
{	
	background: asset-url('edit.jpeg');
	background-size: cover;  background-attachment: fixed;
}
#new
{
	background: asset-url('psycho.jpg');
	background-size: cover;  background-attachment: fixed;
}
#show
{
	background: asset-url('show.jpg');
	background-size: cover;  background-attachment: fixed;
}
#actu
{
	background: asset-url('note.jpg');
	background-size: cover;  background-attachment: fixed;
}

.displayBox
{
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content : space-between;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
  background-color: white;
  opacity: 0.93; 
  overflow-wrap: break-word; word-wrap: break-word; hyphens: auto;
  width:60vw;
  height:80vh;
  margin:auto;
  margin-top: 0px;
  padding: 4vh 2vw;
  
} 
#details{
  transform:translate3d(0, 0, 0);overflow:scroll;
  overflow-wrap: break-word; word-wrap: break-word; hyphens: auto;
  
}
.indexBox
{
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content : space-between;
  border-radius: 5px;
 /* box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
  */background:none;
  opacity: 0.93; 
  overflow:hidden;overflow-wrap: break-word; word-wrap: break-word; hyphens: auto;
  margin:auto;
  padding: 1.75vh 1.5vw;
  
}
.formBox
{
  text-align:center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
  background-color: white;
  opacity: 0.93;
  overflow:hidden;
  width: 52vw;
  margin: 0 auto;
  padding: 4vh 2vw;
  }

input[type=text],input[type=password], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 6px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display:inline-block;
    width: 70%;
}

input[type=submit]:hover {
    background-color: #45a049;
}



.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both; 
}
.col-75,input[type=submit]{
    width: 70%;
    margin-left:15%;
    margin-right: 15%;
}







.classicB
{
  padding: 7.5px 7.5px; 
  border-top: 1px solid black; 
  border-left: 1px solid black;   
  border-right: 1px solid black;   
  transition: all 0.2s ease-in-out;
  line-height : auto;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
}
.classicB:hover
{
  border-right: 0px solid black; 
  border-bottom: 1px solid black; 
  border-left: 0px solid black; 
  border-top: 0px solid black; 
  background:#add3f4;
  font-size: 16px;
  color: black;
  transition: all 0.2s ease-in-out;

}

.dark{
color:black;text-decoration: none;
}
.dark:hover{
color:black;text-decoration: none;
}