<div id="footer">
	<div id="link_box">
		<a href="/mapresentation.html" class="f_link">
			Parcours
		</a>

		<a href="/mentionslegales.html" class="f_link">
			mentions legales
		</a>

		<a href="/parcours.html" class="f_link">
			Pourquoi passer par mes services
		</a>

		<a href="http://fairesonsiteweb.fr/" target="_blank" class="f_link">
			Création du site par MonSuperCodeur
		</a>
		
	</div>
	
</div>