<div id="footer">
	<div id="link_box">
		<a href="/mapresentation.html" class="f_link">
			Parcours
		</a>

		<a href="/mentionslegales.html" class="f_link">
			Mentions legales
		</a>

		<a href="/parcours.html" class="f_link">
			Pourquoi passer par mes services
		</a>


		<a href="http://www.kleandre.lxa.li" target="_blank" class="f_link">
			Re-edited By lean
		</a>
		
	</div>
	
</div>
